{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "printWidth": 120,
  "useTabs": false,
  "proseWrap": "preserve"
}
